@import "variables";
@import "bootstrap_components";

.help, .info {
  display: inline-block;
  width: 1rem;
  height: 0.9rem;
  background-repeat: no-repeat;
  background-size: 0.9rem 0.9rem;
}

.help {
  background-image: url('~bootstrap-icons/icons/question-circle.svg');
}
.info {
  background-image: url('~bootstrap-icons/icons/info-circle.svg');
}

a[data-toggle="popover"] {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.popover {
  max-width: 450px;
}

input:disabled {
  color: gray;
}

label[for] {
  cursor: pointer;
}

.decimals {
  font-size: .8em;
  line-height: 1;
  vertical-align: super;
  top: .2em;
  position: relative;
}
