---
const lastUpdate = new Date().toLocaleDateString('nl-NL', {
  day: 'numeric',
  month: 'long',
  year: 'numeric',
});
---

<h3>Disclaimer</h3>

<p class='small mb-2'>
  Met beleggen kunt je je inleg verliezen. Deze vergelijking is geen financiëel
  advies.
</p>

<p class='small mb-2'>
  De berekening is gebaseerd op de door de banken/brokers en fondsbeheerders
  gepubliceerde kosten. Het rendement van 7,5% is een schatting op basis van het
  historische jaarrendement van de <a
    href='https://www.msci.com/documents/10199/8d97d244-4685-4200-a24c-3e2942e3adeb'
    target='_blank'>MSCI ACWI index</a
  > sinds 31 december 1987. In het verleden behaalde resultaten bieden echter geen
  garantie voor de toekomst. Bovendien kunnen de rendementen van fondsen onderling
  verschillen door het volgen van een andere index of door het toepassen van verschillende
  uitsluitingscriteria.
</p>

<p class='small mb-2'>
  Deze website bevat affiliate links. De affiliate links hebben geen invloed op
  de resultaten of volgorde in de vergelijking.
</p>

<p class='small mb-2'>
  Met dank aan <a href='https://www.reddit.com/user/gerbenvl' target='_blank'
    >gerbenvl</a
  > voor het analyseren van de jaarverslagen van fondsaanbieders om zo de gemiddelde
  dividendlekkage te bepalen.
</p>

<p class='small mb-2'>
  Gemaakt door <a href='https://nicwortel.nl' target='_blank'>Nic Wortel</a>. De <a
    href='https://github.com/nicwortel/indexfondsenvergelijken.nl'
    target='_blank'>broncode staat op GitHub</a
  >.
</p>

<p class='small mb-2'>Laatste update: {lastUpdate}</p>
